.categoris img {
    width: 100px;
}

.btn-by-now {
    background-image: linear-gradient(To bottom, #FF589B 0%, #FF136F 0%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}